.header {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cartas,
.mensagens {
    margin: 15px 0;
    padding: 0 0 15px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background: #f3f3f3;
}

td.carta-texto {
    width: 380px;
}

td.carta-texto:hover,
td.carta-categoria:hover {
    text-decoration: underline;
    cursor: pointer;
}

.area-tabela.cartas-brancas {
    background-color: #fff;
}

.area-tabela.cartas-pretas {
    background-color: #000;
}

tr {
    vertical-align: middle;
}

td.btns {
    width: 85px;
}

.pesquisa .area-tabela {
    height: 236px;
}

.area-tabela {
    height: 300px;
    overflow: auto;
    border-radius: 10px;
}

.btn-remover {
    color: #ff0000;
    cursor: pointer;
}

.btn-aprovar,
.btn-salvar {
    color: #0e8a33;
    cursor: pointer;
}

.btn-remover:hover,
.btn-aprovar:hover,
.btn-salvar:hover {
    text-decoration: underline;
    font-weight: 600;
}

.titulo {
    text-align: center;
    padding: 5px 10px 10px;
    border-bottom: 1px solid #ccc;
    background: #ccc;
}

#corpo-tabela-mensagens .msg-data {
    width: 130px;
}

.msg-texto {
    font-weight: 600;
}

.msg-texto.lida {
    font-weight: 100;
}

.linha-msg {
    cursor: pointer;
}

col.texto-mensagem {
    margin-top: 45px;
}

.mensagem-btns {
    height: 35px;
}

.area-mensagem {
    height: 265px;
}

#corpo-mensagem {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #bbb;
}

.col-icone {
    width: 60px;
}

.categoria-icone {
    text-align: center;
}

.categoria-icone img {
    vertical-align: text-bottom;
}

.area-icone-preview {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    margin: 0 10px;
    padding: 3px;
}

.icone-preview {
    width: 100%;
}

.icone {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    margin: 0 10px;
}

.icone .icone-b {
    display: none;
}

.icone:hover,
.area-icone-preview.branco {
    background: #333;
}

.icone:hover .icone-p {
    display: none;
}

.icone:hover .icone-b {
    display: inline;
}


/* .area-icone-preview.branco {

    background: #333;

}



.area-icone-preview.preto {

    background: #eee;

} */