body {
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.conteudo-login {
    border-radius: 8px;
    height: 300px;
    color: #fff;
    padding: 10px;
    background: #000;
    position: relative;
    width: 220px;
    box-shadow: -4px 4px 4px #a3a3a3;
}

form {
    position: absolute;
    bottom: 10px;
    width: 200px;
}

input {
    margin-bottom: 3px;
}

input.form-control {
    border: none;
}

input.btn {
    width: 100%;
}